<% issues.forEach((issue => { %>
    <article>
        <h2><%= issue.title %></h2>
        <p>State: <%= issue.state %></p>
        <p><%= issue.body %></p>
        <a href="<%= issue.url %>" target="_blank">See it on git hub!</a>
    </article>
<% })) %>